body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 30% 70%;
}

.nav-bar {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: 50% 50%;
  align-items: center;
}

.nav-btn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  background: linear-gradient(to top, #000, #666);
  border: #666 solid 1px;
}

.content-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content-grid > div {
  /* height: 100%; */
  width: 100%;
}

.core-skills-list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.core-skill-icon {
  font-size: 4rem;
}

.skill-pill {
  font-size: 1em;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -5px);
}

.col-1 {
  background-color: aqua;
}

.col-2 {
  background-color: brown;
}

.col-3 {
  background-color: burlywood;
}