body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 5px;
}

p.aragraph {
  font-size: .9rem;
  text-indent: 1rem;
}

p.aragraph:first-child::before {
  content: '💬';
  position: absolute;
  opacity: .1;
  font-size: 4rem;
  top: 40px;
  left: -10px;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.content-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 120px;
}

.content-grid > div {
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #666;
  margin-bottom: 0;
}

.show-container {
  border: #0bf dashed 2px;
}

@keyframes blink-container {
  from {
    box-shadow: 0 0 20px 5px #0033ffaa;
  }
  to {
    box-shadow: none;
  }
}

.blink-container {
  -webkit-animation: blink-container .5s ease-in-out .5s;
  -moz-animation: blink-container .5s ease-in-out .5s;
  -o-animation: blink-container .5s ease-in-out .5s;
  animation: blink-container .5s ease-in-out .5s;
}