header {
  height: 120px;
  display: grid;
  grid-template: 100% / 30% 70%;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0 20px #000000cc;
}

#header-banner {
  max-height: 100%;
  max-width: 100%;
  background-image: linear-gradient(to left, #fff 75%, transparent), url('https://i.ibb.co/vsSSfp1/header.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

#header-banner div {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#header-banner * {
  font-weight: 600;
  margin-bottom: 0;
}

#header-banner p { 
  font-size: 1.5rem;
}

#nav-bar {
  display: grid;
  grid-template-rows: 60% 40%;
  align-items: center;
}

#super-nav, #sub-nav {
  height: 100%;
  display: flex;
}

#super-nav {
  border-bottom: solid #666 1px;
}

#super-nav .nav-btn:not(:last-child), #sub-nav .nav-btn:not(:last-child) {
  border-right: none;
}

.nav-btn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #ccc, #fff);
  border: #c3bdbd solid 1px;
  border-radius: 0;
}

.nav-btn:hover:not(:disabled),.nav-btn:active:not(:disabled) {
  color: #eee;
  background: linear-gradient(to top, #333, #999);
}

.nav-btn:hover:not(:disabled) h5 {
  color: #eee;
}

#sub-nav .nav-btn {
  font-size: .9rem;
}