header img {
  max-width: 100%;
  padding: 10px 25px;
  box-sizing: border-box;
}

header ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

header li {
  list-style: none;
  /* float: left; */
}